.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    font-weight: 500;
    font-size: 16px;
    color: #756F86;
    width: 100%;
    margin-bottom: 7px;
}

.field {
    width: 100%;
    position: relative;
}

.icon {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
}

.fieldButton {
    width: 100%;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #DBE2EA;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #7C9CBF;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
    outline: none;
    background-color: #FFF;
    text-align: left;
    padding-left: 16px;
}

.fieldButtonActive, .fieldButton:focus {
    border: 2px solid #0880AE;
    color: #2C2738;
}

.fieldButtonChosen {
    color: #2C2738;
}

.options {
    width: 100%;
    border: 1px solid #DBE2EA;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04), 0 20px 20px rgba(44, 39, 56, 0.04);
    overflow: hidden;
    position: absolute;
    top: 84px;
    z-index: 10;
}

.optionButton {
    width: 100%;
    height: 52px;
    border: none;
    color: #756F86;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    background-color: #FFF;
    text-align: left;
    padding-left: 16px;
}

.optionButton:hover, .optionButton:focus {
    background-color: #EBF4F8;
}
